* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: blue;
}

table,
tr,
td,
th {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

input[type="radio"] {
  display: none;
}

/* 画像の周りに隙間をあける */
label img {
  margin: 3px;
  padding: 5px;
}

/* 未選択の場合、色を薄くする */
input[type="radio"]+label img {
  opacity: 0.2;
}

/* 選択済みの場合、色を濃くする */
input[type="radio"]:checked+label img {
  opacity: 1;
}