* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: blue;
}

table,
tr,
td,
th {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

tr,
td,
th {
  min-width: 100px;
}

.table-wrap {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  overflow-x: scroll;
}

.table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 2px solid #eee;
  padding: 4px 8px;
}

input[type="radio"] {
  display: none;
}

/* 画像の周りに隙間をあける */
label img {
  margin: 3px;
  padding: 5px;
}

/* 未選択の場合、色を薄くする */
input[type="radio"]+label img {
  width: 60px;
  height: 60px;
  opacity: 0.2;
}

/* 選択済みの場合、色を濃くする */
input[type="radio"]:checked+label img {
  width: 60px;
  height: 60px;
  opacity: 1;
}

#reward {
  margin: 500px 500px;
  color: yellow;
}

.parent {
  padding: 500px 500px;
  position: relative;
  overflow: hidden;
}

.PropagateLoader {
  margin-top: 25%;
  text-align: center;
}

.selectArea {
  font-size: 25px;
  text-align: center;
}