* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: #037DD6;
  font-size: 40px;
  font-weight: bold;
  color: white;
  line-height: 50px;
  display: flex;
}

header p {
  padding: 10px 40px;
}

table,
tr,
td,
th {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

tr,
td,
th {
  min-width: 100px;
}

th {
  background-color: #C3DBFF;
  color: #FFFF;
}

.TitleSection {
  margin: 10px auto;
  width: 50%;
}

.table-wrap {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  overflow-x: scroll;
}

.table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 2px solid #eee;
  padding: 4px 8px;
}

input[type="radio"] {
  display: none;
}

/* 画像の周りに隙間をあける */
label img {
  margin: 3px;
  padding: 5px;
}

/* 未選択の場合、色を薄くする */
input[type="radio"]+label img {
  width: 60px;
  height: 60px;
  opacity: 0.2;
}

/* 選択済みの場合、色を濃くする */
input[type="radio"]:checked+label img {
  width: 60px;
  height: 60px;
  opacity: 1;
}

#reward {
  margin: 500px 500px;
  color: yellow;
}

.parent {
  z-index: -1;
  padding: 20% 50%;
  position: relative;
  overflow: hidden;
}

#rightRewardId {
  position: absolute;
  top: 90%;
  right: 10%;
}

#leftRewardId {
  position: absolute;
  top: 90%;
  left: 10%;
}


.PropagateLoader {
  margin-top: 25%;
  text-align: center;
}

.ScheduleSelect {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ScheduleDate {
  padding: 20px;
}

.TextInputClass {
  width: 100%;
  height: 40px;
}

.DateTimeInputClass {
  width: 80%;
  height: 40px;
}

/*DateTiem-localInput どこからでも選択可能 ここから*/
input[type=datetime-local]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}


input[type="datetime-local"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="datetime-local"]::-webkit-clear-button {
  -webkit-appearance: none;
}

input[type="datetime-local"] {

  position: relative;
}

/*DateTiem-localInput どこからでも選択可能 ここまで*/

.DeleteBtn {
  border: none;
  width: 120px;
  height: 40px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border-color: white;
}

.AddDateTimeBtn {
  border: none;
  width: 100%;
  height: 40px;
  background-color: #9b9fee;
  color: white;
  border-radius: 5px;
  border-color: white;
}

.SubmitBtn {
  border: none;
  width: 60%;
  height: 40px;
  background-color: #9b9fee;
  color: white;
  border-radius: 5px;
}

.EventInputFrom {
  width: 50%;
  margin: 0 auto;
}

.DateList {
  list-style: none;
}

section {
  margin: 20px 0;
}

.Dateli {
  margin: 10px 0;
}

.Dateli button {
  margin-left: 10px;
}

.SubmitBtnSection {
  text-align: center;
}

.EventUrlSection {
  position: absolute;
  top: 13%;
  left: 25%;
  background-color: none;
  z-index: 1;
  margin-top: 18%;
  text-align: center;
}

.HaederMenu {
  margin-left: 40%;
  padding: 3px 0;
  /* display: flex; */
}

.HaederBtn {
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFF;
  background-color: #7D82F2;
  margin: 0 10px;
}

.errorMsgCom{
  border: #a5a5a5 0.5px solid;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 15px;
}

.ErrorMsgList{
  list-style: none;
}